@import "../abstract/variables";

table {
  h2 {
    padding-bottom: 2.4rem;
  }
  // width: 100%;
  padding: 1.8rem;
  border-radius: $border-radius;

  border: 2px solid $color-grey;

  border-collapse: separate;
  tr {
    display: flex;
    align-items: baseline;
    td,
    th {
      display: flex;
      flex-direction: column;
      padding-inline: 1.2rem;

      font-size: 1.2rem;
      text-align: center;

      &:first-of-type {
        padding-left: 0;
        text-align: start;
      }
      &:last-of-type {
        padding-right: 0;
        text-align: end;
      }
      & > * {
        font-weight: 600;
      }
      & > *:nth-child(2) {
        color: $color-grey;
      }
    }
  }
  tr:not(tr:last-of-type) {
    td,
    th {
      padding-bottom: 3rem;
    }
  }
}
// table {
//   width: 100%;
//   td,
//   th {
//     border: var(--border);
//     padding: 1.2rem;

//     vertical-align: middle;
//     font-size: var(--font-size-small);
//     @media only screen and (max-width: 37.5em) {
//       font-size: var(--font-size-smaller);
//       white-space: normal;
//     }

//     cursor: text;

//     img {
//       max-height: 7rem;
//     }
//   }
//   tr {
//     color: var(--color-text);
//   }

//   tr:nth-child(2n + 2) {
//     // color: var(--color-header);
//   }
//   tbody tr:hover {
//     background-color: var(--color-grey);

//     td i {
//       width: 5rem;
//       &::after {
//         content: "copy";
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//   }
//   // focus mode
//   // tbody:hover tr:not(:hover) {
//   //   // filter: blur(3px);
//   // }

//   th {
//     text-transform: capitalize;
//     text-align: center;
//     padding-right: 1.5rem;
//     background-color: var(--color-primary);

//     // &:hover:not(th.not-sortable) {
//     //   cursor: pointer;
//     //   background: var(--color-secondary);
//     //   color: var(--color-text);
//     // }
//   }

//   td {
//     position: relative;
//     i {
//       position: absolute;
//       top: 0;
//       right: 0;

//       height: 100%;
//       width: 0.5rem;
//       background-color: var(--color-secondary-dark);
//       border-left: 2px solid var(--color-grey);
//       opacity: 50%;
//       cursor: copy;

//       transition: 150ms width ease-in-out;
//     }
//   }
// }
